h1 {
  text-align: center;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width: 992px) {
  .section-title {
    width: 33%;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    text-align: center;
  }
  .section {
    box-sizing: border-box;
    position: relative;
    float: left;
    clear: right;
    width: 31%;
    margin: 1%;
    padding: 10px;
    padding-top: 22px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: lightslategrey;
  }
  #red {
    background-color: rgb(194, 47, 47);
    color: white;
  }
  #pink {
    background-color: rgb(224, 125, 141);
  }
  #yellow {
    background-color: rgb(209, 209, 120);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    width: 33%;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    text-align: center;
  }
  .section {
    box-sizing: border-box;
    position: relative;
    float: left;
    clear: right;
    width: 48%;
    margin: 1%;
    padding: 10px;
    padding-top: 22px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: lightslategrey;
  }
  #red {
    background-color: rgb(194, 47, 47);
    color: white;
  }
  #pink {
    background-color: rgb(224, 125, 141);
  }
  #yellow {
    background-color: rgb(209, 209, 120);
  }
  #full {
    width: 98%;
  }
}
@media (max-width: 767px) {
  .section-title {
    width: 33%;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    text-align: center;
  }
  .section {
    box-sizing: border-box;
    position: relative;
    float: left;
    clear: right;
    width: 90%;
    margin: 1%;
    margin-left: 5%;
    padding: 10px;
    padding-top: 22px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: lightslategrey;
  }
  #red {
    background-color: rgb(194, 47, 47);
    color: white;
  }
  #pink {
    background-color: rgb(224, 125, 141);
  }
  #yellow {
    background-color: rgb(209, 209, 120);
  }
}
